body,html{
	font-weight: 200 ;
	font-family: "Microsoft Yahei", Tahoma !important;
	color: #000!important;
}

.clearfix
	display inline-block
	&:after
		display block
		content ''
		height 0
		line-height 0
		clear both
		visibility hidden

theme-colors = #a01c5e 
theme-colors-hovers= #764b61 	

// .main
//     margin 30px 15px 0
// ul.disc-ul
//     padding-left 20px
// li.disc-li
//     list-style disc
//     padding 5px 0
.main 
	margin 25px 15px 0

ul.disc-ul
	padding-left 20px

li.disc-li 
	padding 5px 0
	list-style disc		